<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/templateMainJK.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Jean Kummerow &amp; Associates LLC: Coaching</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="Description" content="Jean Kummerow & Associates LLC provides team building, career counseling, coaching, training, team building, and expertise on all aspects of the Myers-Briggs Type Indicator." />
<meta name="Keywords" content="Jean Kummerow,Minnesota,MBTI, Myers-Briggs Type Indicator,MBTI Inventory,Coaching,Career Counseling,Training,Team Building,Publications" />
<meta name="author" content="Designrac Interactive / Original design: Designrac Interactive - http://www.designrac.com/" />
<link rel="stylesheet" href="mainStyles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="screen" />


<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	background: #77CEC2;
	background-image: url(images/interface/pageBackg.jpg);
	background-repeat: repeat-x;
}
-->
</style>

</head>

<body class="container">

<div id="container" class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><img id="frontphoto" src="images/interface/banner-design.jpg" width="900" height="110" alt="" />

<div id="mainmenu">

<div style="background-image:url(center_tile.gif)"><table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td><div style="font-size:1px;width:6px;height:14px;background-image:url(left_cap.gif);"></div></td><td style="width:100%;">

  </td></tr></table>
</div>
</div>

<div id="wrap">

<div id="leftside" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><br />
    <a class="leftnavPink" href="index.html">Home</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="publications.html">Publications</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="MBTI.html">MBTI&reg; Inventory</a><span class="hide"> | </span>
    <!-- Remove line below -->
    <!-- <a class="leftnavViolet" href="career.html">Career Counseling</a><span class="hide"> | </span> -->
    <a class="leftnavViolet" href="coaching.html">Coaching</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="training.html">Training</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="team.html">Team Building</a><span class="hide"> | </span>
    <a class="leftnavPink" href="who.html">Who We Are</a><span class="hide"> | </span>
    <a class="leftnavPink" href="contact.html">Contact Us</a><span class="hide"> | </span>
    </div>


<div id="content">
<!-- InstanceBeginEditable name="contentArea" -->
  <h2>Coaching</h2>
  <p></font>Receive feedback on your current performance and the impact of your style on others so that you can make well-informed decisions about utilizing your strengths and developing required skills. Then develop your interpersonal, management and/or leadership skills through a coaching relationship that builds on your strengths and devises realistic plans to work on what might be holding you back from reaching your goals. </p>
  <p>Managers and leaders may wonder about their performance beyond their accomplishments of defined business goals. Kummerow&rsquo;s approach helps answer the question, &ldquo;How am I really doing?&rdquo; She provides:</p>
  <ul>
    <li>an assessment based on psychological inventories</li>
    <li>feedback-gathering interviews of the manager&rsquo;s peers, managers, and subordinates, and</li>
    <li>a written report outlining the manager&rsquo;s strengths and developmental opportunities with a proposed plan of action in consultation with the manager.</li>
  </ul>
<p>This process often leads to a longer-term coaching relationship. This approach is based on Kummerow&rsquo;s experiences and skills as a psychologist and a consultant. She: </p>
<ul>
  <li>identifies client&rsquo;s strengths as well as developmental opportunities;</li>
  <li>attempts to leverage those strengths to help the client fulfill his/her goals and develop skills needed to work effectively;</li>
  <li>develops long-term relationships with clients to work with them on their needs, and </li>
  <li>holds clients accountable for their progress while encouraging them to develop their skills and accomplish their goals.<br />
    </font></li>
</ul>
<!-- InstanceEndEditable --></div>

<div class="clearingdiv"></div>
</div>
</div>
<div id="footer" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
  <p>Direct any comments about this site  to <a href="mailto:webmaster@jeankummerow.com">webmaster@jeankummerow.com</a><br />
    Copyright &copy; 2009-14 Jean Kummerow &amp; Associates LLC. All Rights Reserved. <br />
  <span class="footerReg">Site design and maintenance by <a href="http://www.designrac.com" target="_blank">designrac</a></span></p>
  <p class="footerTM">Myers-Briggs Type Indicator, MBTI, and Introduction to Type are trademarks or registered trademarks of the Myers-Briggs Type Indicator Trust<br />
in the United States and other countries. Strong Interest Inventory and FIRO-B are registered trademarks and CPI is a trademark of CPP, Inc.</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-91629-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
<!-- InstanceEnd --></html>
