<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/templateMainJK.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Jean Kummerow &amp; Associates LLC: MBTI Inventory</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="Description" content="Jean Kummerow & Associates LLC provides team building, career counseling, coaching, training, team building, and expertise on all aspects of the Myers-Briggs Type Indicator." />
<meta name="Keywords" content="Jean Kummerow,Minnesota,MBTI, Myers-Briggs Type Indicator,MBTI Inventory,Coaching,Career Counseling,Training,Team Building,Publications" />
<meta name="author" content="Designrac Interactive / Original design: Designrac Interactive - http://www.designrac.com/" />
<link rel="stylesheet" href="mainStyles.css" type="text/css" media="screen" />


<!-- InstanceBeginEditable name="head" -->
<script src="Scripts/swfobject_modified.js" type="text/javascript"></script>
<!-- InstanceEndEditable -->
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	background: #77CEC2;
	background-image: url(images/interface/pageBackg.jpg);
	background-repeat: repeat-x;
}
-->
</style>

</head>

<body>

<div id="container"><img id="frontphoto" src="images/interface/banner-design.jpg" width="900" height="110" alt="" />

<div id="mainmenu">

<div style="background-image:url(center_tile.gif)"><table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td><div style="font-size:1px;width:6px;height:14px;background-image:url(left_cap.gif);"></div></td><td style="width:100%;">

  </td></tr></table>
</div>
</div>

<div id="wrap">

<div id="leftside"><br />
    <a class="leftnavPink" href="index.html">Home</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="publications.html">Publications</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="MBTI.html">MBTI&reg; Inventory</a><span class="hide"> | </span>
    <!-- Remove below -->
    <!-- <a class="leftnavViolet" href="career.html">Career Counseling</a><span class="hide"> | </span> -->
    <a class="leftnavViolet" href="coaching.html">Coaching</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="training.html">Training</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="team.html">Team Building</a><span class="hide"> | </span>
    <a class="leftnavPink" href="who.html">Who We Are</a><span class="hide"> | </span>
    <a class="leftnavPink" href="contact.html">Contact Us</a><span class="hide"> | </span>
    </div>


<div id="content">
<!-- InstanceBeginEditable name="contentArea" -->
  <h2>MBTI&reg; Inventory</h2>
  <p></font>If you&rsquo;re unfamiliar with the MBTI&reg; approach, here&rsquo;s a brief overview:</p>
  <p>The Myers-Briggs Type Indicator&reg; (MBTI&reg;) instrument identifies a psychological type, or personality style. The personality type consists of four preferences based on energy, data gathering, decision-making, and lifestyle dimensions. Those preferences come together in a unique way to form a personality type. It is based upon the work of Carl Jung, a Swiss psychiatrist, and the efforts of two American women, Isabel Briggs and Katharine Briggs. There are no better or worse personality types; each has its own strengths. </p>
  <p>Here&rsquo;s a bit on those basic preferences adapted from one of Dr. Kummerow&rsquo;s books, WORKTypes. <em>Excerpts in italics are from WORKTypes by Jean Kummerow, Nancy Barger and Linda Kirby. Reproduced with permission from Grand Central Publishing, a division of the Hachette Book Group USA Inc. All rights reserved.</em></p>
  <h3>Step I&#8482; Preferences</h3>
  <p><strong class="large"><em>Extraversion (E) - Introversion (I)</em></strong><em><br />
      <strong>Ways of Gaining Energy</strong></em></p>
  <p><em>Extraverts gain energy through interacting with the outside world. Introverts gain energy through their inner world. Here&rsquo;s how this plays out in meetings. </em></p>
  <p><em>When Extraverts (E) go to meetings, they want:<br />
  </em></p>
  <ul>
    <li><em>a chance to see people and interact with them</em></li>
    <li><em>to talk over ideas and work together on projects -- they find this energizes and stimulates them</em></li>
    <li><em>a break in their day</em></li>
    <li><em>a chance to be involved in the action -- whatever it is<br />
    </em></li>
    </ul>
  <p><em>When Introverts (I) go to meetings, they want:<br />
    </em></p>
  <ul>
    <li><em>advance notice of topics so they can prepare ahead of time, think over the issues</em></li>
    <li><em>a group where they feel comfortable talking (usually a smaller group of people they know)</em></li>
    <li><em>time for internal processing, then air time for their reflections</em></li>
    <li><em>focus in depth on a subject</em></li>
    <li><em>a chance to share their knowledge and information that the group is unaware of</em></li>
    <li><em>to stabilize, calm a group -- ask, what are we overlooking?<br />
    </em></li>
    </ul>
  <p><em>Productive meetings for both Extraverts and Introverts<br />
    E's and I's do not necessarily need equal airtime, but to get the best from both, you do need to incorporate a few techniques:<br />
    </em></p>
  <ol>
    <li><em>Provide an agenda or a list of topics ahead of time.</em></li>
    <li><em>Give advance notice to anyone who will present a specific topic.</em></li>
    <li><em>Use a carousel technique -- before leaving a topic, ask if anyone has any further questions, contributions, or problems, and go quickly around the group getting a response from everyone (&quot;No, that's it for me,&quot; &quot;Well, there was one issue I wanted to mention,&quot; etc.).</em></li>
    <li><em>Remember, Extraverts need time to talk an idea through. A group can label this &quot;Thinking out loud time&quot; and include it in the structure.</em></li>
  </ol>
  <p><span class="large"><strong><em>Sensing (S) -Intuition (N)</em></strong></span><em><br />
      <strong>Data Gathering</strong></em></p>
  <p><em>People with a Sensing preference usually want to focus on what is real and actual in the present or past: who? what? where? when? They typically give and want real life examples. When S's are engaged and involved, they will ask a lot of specific questions to learn the details and give a lot of relevant information and examples.</em></p>
  <p><em>People with an Intuitive preference usually want to move every communication to a bigger context, to the connections, and to wider meanings. When N's are engaged and involved, they brainstorm, leap to other topics they see as connected, and offer different perspectives.</em></p>
  <p><em>Mutual misinterpretations: &quot;that isn't what I meant&quot;<br />
    Misinterpretations can result because each preference focuses on different kinds of information:<br />
    </em></p>
  <ul>
    <li><em>Sensing questions and contributions may seem to N's to be picky, to slow down the process, to be pessimistic, to show resistance to change, and to be boring and unimaginative. N's will sometimes express it this way: &quot;Whatever idea I have, she always shoots it down.&quot;</em></li>
    <li><em>Intuitive questions and contributions may seem to S's to be irrelevant and off topic, to obscure the real issues, to prolong the process, and to be unrealistic, unhelpful, and frustrating. S's will sometimes express it this way: &quot;He's really off-the-wall, so vague and impractical. I mean, we're trying to decide on a name for our new product and he's telling us Greek myths.&quot;<br />
    </em></li>
    </ul>
  <p><em>Tips for Sensors:<br />
    </em></p>
  <ul>
    <li><em>Be aware that your helpful questions or useful details may cut off another's sharing of information or may short-circuit another's Intuitive process or brainstorm. Ask others, &quot;Do you want my input now, or would it be more helpful later?&quot; If the answer is later, jot down your comments so you won&rsquo;t forget them.</em></li>
    <li><em>Ask others to help you with some of the context or wider meanings of your own ideas. For example, when you present an idea or plan, say something like, &quot;I've tried to think through how this might work. I wonder if some of you might have ideas about how this fits with what other departments in the company are doing.&quot;<br />
    </em></li>
    </ul>
  <p><em>Tips for Intuitives:</em></p>
  <ul>
    <li><em>Recognize that others may need to &quot;try out&quot; your ideas -- by fleshing out the realities or by relating it to their experience. Their &quot;picky&quot; comments may actually be their effort to ground your vision or gain insight into their reality so they can consider and support it.</em></li>
    <li><em>Be aware that your insights, broader perspectives and natural &ldquo;leaps&rdquo; may simply confuse others or seem like distractions. Try to provide the link to the present problem or discussion topic that will allow them to use your insight: &quot;Ralph, your plan for reorganizing the flow of reports identifies some problem areas. I have a thought about another way to look at potential solutions that may fit better with the changes going on throughout our company.&quot;</em></li>
    </ul>
  <p><strong class="large"><em>Thinking (T) - Feeling (F) </em></strong><em><br />
      <strong>Decision-Making</strong></em></p>
  <p><em>Thinkers prefer to</em></p>
  <ul>
    <li><em>step back and use an objective viewpoint in decision-making </em></li>
    <li><em>focus on tasks in a technical, detached way</em></li>
    <li><em>analyze and critique</em></li>
    <li><em>be brief and efficien</em></li>
    <li><em>get to the core and stay focused</em></li>
    <li><em>assess cause and effect</em></li>
    <li><em>show their competence and knowledge</em></li>
    <li><em>use a logical decision-making structure<br />
    </em></li>
    </ul>
  <p><em>Feelers prefer to</em></p>
  <ul>
    <li><em>focus on the impacts of decisions on the people involved and affected</em></li>
    <li><em>weigh everything by their values.</em></li>
    <li><em>explicitly notice who is there and who is not, and what's happening to people</em></li>
    <li><em>recognize and appreciate people's individual contributions</em></li>
    <li><em>seek out minority views -- be sure everyone is included</em></li>
    <li><em>assess if what the group is deciding and how they are going about the decision is congruent with their values</em></li>
    <li><em>find a consensus that honors everyone's perspective<br />
    </em></li>
    </ul>
  <p><em>The best decisions will include both perspectives. For T's, the point may need to be made that it is logical to include impacts on people and that everyone's viewpoint needs to be heard. Feeling types need to be willing to take the risk and create disharmony by raising the issue of the impact of decisions on people and on themselves. If they don't, some Feeling types may withdraw and shut down, and the group will lose their input.</em></p>
  <p><em>In order for decisions to be truly agreed upon (and bought into) by everyone, differences of opinions must be acknowledged. Groups need to discuss and decide how much agreement is necessary before the group moves on. Some groups ask those who are not comfortable with a decision, &quot;What do you need in order to feel different?&quot;</em></p>
  <p><strong class="large"><em>Judging (J) - Perceiving (P)</em></strong><em><br />
      <strong>LifeStyle</strong></em></p>
  <p><em>This is the preference that most directly and obviously relates to time management. Both J and P are ways of organizing work and getting tasks done, but most time management systems focus on the J way and view the P way as a lack of time management.</em></p>
  <p><em>JUDGING</em></p>
  <p><em>Strengths of J&rsquo;s:<br />
    </em></p>
  <ul>
    <li><em>focus on completion, willing to close off and move on</em></li>
    <li><em>organized</em></li>
    <li><em>plan both in short and long range</em></li>
    <li><em>file things</em></li>
    <li><em>structure time</em></li>
    <li><em>follow through consistently</em></li>
    <li><em>see the sub-tasks to get things done</em></li>
    <li><em>make agendas and follow them</em></li>
    <li><em>develop routines that save time<br />
    </em></li>
    </ul>
  <p><em>Tips for those who work with Judging types . . .</em></p>
  <ul>
    <li><em>Communicate your own way of structuring and completing tasks.</em></li>
    <li><em>Don't be flattened by the steamroller effect of Judging in action. Feel comfortable saying, &quot;I'm not yet comfortable with making a decision or closing that off.&quot; Ask for more time, and if you can, even specify how much more time you need.</em></li>
    <li><em>Ask for support for doing it your way. You need not be apologetic about your methods as long as you turn in good work on time.</em></li>
    <li><em>Ask J's to help you structure a project and establish a timeline.<br />
    </em></li>
  </ul>
  <p><em>PERCEIVING</em></p>
  <p><em>Strengths of P&rsquo;s:</em></p>
  <ul>
    <li><em>have an inner timing mechanism that indicates when it is time to move into high gear</em></li>
    <li><em>can do multiple tasks at once</em></li>
    <li><em>can juggle time -- push deadlines, discard unnecessary pieces</em></li>
    <li><em>handle surprises and last-minute changes easily</em></li>
    <li><em>work with amazing efficiency under time crunch -- get energy from a deadline<br />
    </em></li>
  </ul>
  <p><em>Tips for those who work with Perceiving types . . .<br />
    </em></p>
  <ul>
    <li><em>Close your eyes to the process. (The piles on their desks and the last minute flurry of activity work for them.) Evaluate by the final result.</em></li>
    <li><em>Set a real deadline (not a fake one) and communicate its importance clearly. Expect the P to live up to it.</em></li>
    <li><em>Appreciate their flexibility and their ability to respond to emergencies -- they can always &quot;make the time&quot; to handle an emergency.</em></li>
    <li><em>Enjoy their way of making work more fun. Remember they tend to merge work and play, and find ways to make work playful.</em></li>
    <li><em>Confront P's if their behavior has negatively impacted your ability to complete your task.</em></li>
    </ul>
  <h3>The Sixteen Types</h3>
  <p>Sixteen unique types result from the four preference pairs. Below is a type table with an acronym that captures the essence of each type (used by permission). These were originally conceived by the Board of the Association for Psychological Type International (<a href="http://www.aptinternational.org" target="_blank">www.aptinternational.org</a>), an organization devoted to the sound and ethical use of psychological type, of which Kummerow is a member. See also several of Kummerow&rsquo;s books for far more complete descriptions of the 16 types. <a href="http://www.amazon.com/Lifetypes-Sandra-Krebs-Hirsh/dp/0446388238/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1212846527&amp;sr=8-1" target="_blank">Buy LIFETypes at Amazon.com.</a>  </p>
  <table width="78%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="14%">&nbsp;</td>
      <td width="86%"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="420" height="470" id="FlashID" title="The 16 Types">
        <param name="movie" value="images/sixteentypes.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="9.0.45.0" />
        <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/sixteentypes.swf" width="420" height="470">
          <!--<![endif]-->
          <param name="quality" value="high" />
          <param name="wmode" value="opaque" />
          <param name="swfversion" value="9.0.45.0" />
          <param name="expressinstall" value="Scripts/expressInstall.swf" />
          <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
          <div>
            <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object></td>
    </tr>
  </table>
  <h3>The Step II&#8482; Instrument</h3>
  <p>There is an additional way of scoring the MBTI&reg; instrument, called the Step II assessment. It takes the familiar MBTI&reg; four letter type (the Step I type) and shows twenty ways in which that type is expressed (Step II results). The Step II assessment builds on the fact that each of the preferences is multi-faceted. For example, there are a number of components or facets to Extraversion-Introversion including sociability, talkativeness, gregariousness, excitability, and communication style. The Step II report identifies these facets, five per preference, and helps respondents clarify their own style of Extraversion-Introversion as well as each of their other preferences. It is particularly helpful to participants who are having difficulty identifying with a preference since it shows them how and where they are using aspects of the other preference as well. It also identifies some differences between people who share the same Step I type. </p>
  <p>The Step II assessment continues the tradition of describing differences. It recognizes that at different times people need to display different components of themselves, and are not locked into behaving in only one way. Step II results help focus on those components thus making it easier to identify when adaptation may be necessary and how to do it. In team situations, it is particularly useful since it identifies specific behaviors rather than just overall preferences. Often simply focusing on the preferences can mask differences that the Step II assessment, with its greater depth, clearly identifies. The Step II toool is the cutting edge of type and is preferred by many clients for the additional depth and clarity it provides to understanding personality differences. For those who are already familiar with Step I type, Step II results provide additional information so they feel they are learning something new. </p>
  <p>Kummerow has expertise in both Step I and Step II interpretations and applications. She is co-author of the highly acclaimed <em>Step II Interpretive Report</em> as well as many Step I application materials. She offers interpretations of MBTI&reg; Step I and Step II results to clients&mdash;individuals, families, and groups.</p>
  <table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
    <tr>
      <td width="33%" align="center" valign="middle"><a href="https://www.cpp.com/en/index.aspx" target="_blank"><img src="images/cpp.jpg" alt="CPP" width="170" height="78" border="0" /></a></td>
      <td width="9%" valign="middle">&nbsp;</td>
      <td width="58%" align="center" valign="middle"><a href="http://www.aptinternational.org/" target="_blank"><img src="images/atpi.jpg" alt="APTi" width="311" height="119" border="0" /></a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
    </font>
    <script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
    </script>
<!-- InstanceEndEditable --></div>

<div class="clearingdiv"></div>
</div>
</div>
<div id="footer">
  <p>Direct any comments about this site  to <a href="mailto:webmaster@jeankummerow.com">webmaster@jeankummerow.com</a><br />
    Copyright &copy; 2009-14 Jean Kummerow &amp; Associates LLC. All Rights Reserved. <br />
  <span class="footerReg">Site design and maintenance by <a href="http://www.designrac.com" target="_blank">designrac</a></span></p>
  <p class="footerTM">Myers-Briggs Type Indicator, MBTI, and Introduction to Type are trademarks or registered trademarks of the Myers-Briggs Type Indicator Trust<br />
in the United States and other countries. Strong Interest Inventory and FIRO-B are registered trademarks and CPI is a trademark of CPP, Inc.</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-91629-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
<!-- InstanceEnd --></html>
