<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/templateMainJK.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Jean Kummerow &amp; Associates LLC: Publications</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="Description" content="Jean Kummerow & Associates LLC provides team building, career counseling, coaching, training, team building, and expertise on all aspects of the Myers-Briggs Type Indicator." />
<meta name="Keywords" content="Jean Kummerow,Minnesota,MBTI, Myers-Briggs Type Indicator,MBTI Inventory,Coaching,Career Counseling,Training,Team Building,Publications" />
<meta name="author" content="Designrac Interactive / Original design: Designrac Interactive - http://www.designrac.com/" />
<link rel="stylesheet" href="mainStyles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="screen" />


<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	background: #77CEC2;
	background-image: url(images/interface/pageBackg.jpg);
	background-repeat: repeat-x;
}
-->
</style>

</head>

<body class="container">

<div id="container" class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><img id="frontphoto" src="images/interface/banner-design.jpg" width="900" height="110" alt="" />

<div id="mainmenu">

<div style="background-image:url(center_tile.gif)"><table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td><div style="font-size:1px;width:6px;height:14px;background-image:url(left_cap.gif);"></div></td><td style="width:100%;">

  </td></tr></table>
</div>
</div>

<div id="wrap">

<div id="leftside" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><br />
    <a class="leftnavPink" href="index.html">Home</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="publications.html">Publications</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="MBTI.html">MBTI&reg; Inventory</a><span class="hide"> | </span>
    <!-- Remove below -->
    <!-- <a class="leftnavViolet" href="career.html">Career Counseling</a><span class="hide"> | </span> -->
    <a class="leftnavViolet" href="coaching.html">Coaching</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="training.html">Training</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="team.html">Team Building</a><span class="hide"> | </span>
    <a class="leftnavPink" href="who.html">Who We Are</a><span class="hide"> | </span>
    <a class="leftnavPink" href="contact.html">Contact Us</a><span class="hide"> | </span>
    </div>


<div id="content">
<!-- InstanceBeginEditable name="contentArea" -->
  <h2>Publications</h2>
  <p></font>Buy award-winning author Jean Kummerow&rsquo;s books and training materials.<br />
  </p>
  <h3>General MBTI&reg; Resources</h3>
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td width="21%" valign="top"><img src="images/pub-lifetypes.png" width="110" height="176" alt="LIFE Types" /></td>
      <td width="77%" valign="top"><p><strong>LIFETypes</strong></p>
        <p>Description:<br />
          A highly acclaimed introduction to personality type based on the popular Myers-Briggs Type Indicator&reg; instrument. Learn how type affects people&rsquo;s lives&ndash; including how they work, learn, love and lose out!</p>
        <p><a href="http://www.amazon.com/Lifetypes-Sandra-Krebs-Hirsh/dp/0446388238/ref=pd_bbs_sr_1?ie=UTF8&amp;s=books&amp;qid=1212846527&amp;sr=8-1" target="_blank">Buy now from Amazon.com</a><br />
          <a href="http://search.barnesandnoble.com/Life-Types/Sandra-Krebs-Hirsh/e/9780446388238/?itm=4" target="_blank">Buy now from Barnes &amp; Noble</a></p></td>
      </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-verifyingYourTypePrefs.png" width="110" height="145" alt="Verifying Your Type Preferences: Worksheet and Leader's Guide" /></td>
      <td valign="top"><p><strong>Verifying Your Type Preferences: Worksheet and Leader's Guide</strong><br />
        </p>
        <p>Description:<br />
          This worksheet guides your clients through a step-by-step process to understand and verify their &ldquo;best-fit&rdquo; MBTI Type. It can be used with individuals and groups. The Leader&rsquo;s guide suggests different ways to encourage type exploration.</p>
        <p><a href="pdf/VerifyPref.pdf" target="_blank">Download a sample</a> (pdf) <br />
          <a href="http://www.capt.org/catalog/MBTI-Book-20021.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-talkingInType.png" width="110" height="145" alt="Talking in Type: Worksheet and Leader's Guide" /></td>
      <td valign="top"><p><strong>Talking in Type: Worksheet and Leader's Guide</strong><br />
        </p>
        <p>Description:<br />
          This simple explanation of the differences in how the eight MBTI&reg; preferences affect communication is an efficient tool to use with individuals, couples, and groups. A leader&rsquo;s guide with suggested activities is included.<br />
        </p>
        <p><a href="pdf/TalkingInType.pdf" target="_blank">Download a sample</a> (pdf) <br />
          <a href="http://www.capt.org/catalog/MBTI-Book-20016.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-pets.png" alt="Your Pet&rsquo;s Personality: Type Indicator for Pets" width="110" height="170" /></td>
      <td valign="top"><p><strong>Your Pet&rsquo;s Personality: Type Indicator for Pets</strong></p>
        <p>Description:<br />
          This light-hearted publication is a chance to apply type to understanding your pet&rsquo;s unique personality. It includes a questionnaire and scoring key along with the implications of various results. You&rsquo;ll have fun administering it to your pet!</p>
        <p><a href="http://www.capt.org/catalog/MBTI-Book-30016.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-valuingAllPrefs.png" width="110" height="142" alt="Valuing All the Preferences in the Workplace" /></td>
      <td valign="top"><p><strong>Valuing All the Preferences in the Workplace</strong></p>
        <p>Description:<br />
          This exercise helps participants identify the strengths of their own preferences as well as the assets of others in their workplace. The aim is &ldquo;the constructive use of differences.&rdquo; A leader&rsquo;s guide is included.</p>
        <p><a href="http://www.capt.org/catalog/MBTI-Book-20020.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-typeDynamics.png" width="110" height="145" alt="Type Dynamics: Another Level of Type" /></td>
      <td valign="top"><p><strong>Type Dynamics: Another Level of Type</strong></p>
        <p>Description:<br />
          This moves beyond the basics of the MBTI&reg; preferences to the type dynamics level with clear pictures (literally and figuratively) of how type dynamics work and enrich our lives. A section on stress reactions is included to help people understand what happens when they&rsquo;re not at their best. </p>
<p><a href="http://www.capt.org/catalog/MBTI-Book-20045.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-teamTendencies.png" width="110" height="145" alt="Team Tendencies" /></td>
      <td valign="top"><p><strong>Team Tendencies</strong></p>
        <p>Description:<br />
          Type expert Jean Kummerow presents a highly understandable model for  revealing key team behaviors, including dealing with the change process,  understanding the focus of work, and individual decision-making styles.  Your clients or team will relate to the first-person statements that  are included within each section of the handout.</p>
        <p><a href="mailto:jean@jeankummerow.com">Contact Jean Kummerow</a></p></td>
    </tr>
  </table>
  <h3>Organizational Applications of Type</h3>
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td width="21%" valign="top"><img src="images/pub-introTypeOrgs.jpg" width="120" height="155" alt="Introduction to Myers-Briggs Type in Organizations (4th ed.)" /></td>
      <td width="77%" valign="top"><p><strong>Introduction to Myers-Briggs Type&reg; in Organizations (4th ed.)</strong></p>
        <p>Description:<br />
          This popular &ldquo;introduction to type&rdquo; booklet provides a thorough introduction to MBTI&reg; results in organizational settings with descriptions of all 16 personality types and their leadership and work styles. Preferred work environments, problem-solving approaches, learning styles, potential pitfalls and suggestions for development are also included.&nbsp; </p>
        <p><a href="https://www.cpp.com/en/mbtiitems.aspx?ic=6539" target="_blank">Buy now from CPP<br /></a>
      </p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-worktypes.png" width="110" height="172" alt="WORK Types" /></td>
      <td valign="top"><p><strong>WORKTypes</strong><br />
        </p>
        <p>Description:<br />
          This book, written by three MBTI experts, takes the popular MBTI&reg; assessment and shows how to apply results to many work-related activities such as creating better meetings, managing time more effectively, handling change, working through stress, and being a more effective leader.</p>
        <p><a href="http://www.amazon.com/Work-Types-Jean-M-Kummerow/dp/0446672173/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1212780147&amp;sr=8-1" target="_blank">Buy now from Amazon.com</a><br />
          <a href="http://search.barnesandnoble.com/booksearch/results.asp?WRD=work+types" target="_blank">Buy now from Barnes &amp; Noble</a>        </p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-devLeaders.png" width="120" height="172" alt="Developing Leaders" /></td>
      <td valign="top"><p><strong>Developing Leaders</strong><br />
      </p>
        <p>Description:<br />
          This edited book provides many chapters on using the MBTI&reg; assessment in developing leadership and management capabilities.</p>
        <p>See Dr. Kummerow&rsquo;s chapter on Using the MBTI Step II with Leaders and Managers.</p>
        <p>(Out of print)</p></td>
    </tr>
  </table>
  <h3>MBTI&reg; Step II&#8482; Instrument</h3>
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td valign="top"><img src="images/pub-MBTI-StepII-Users-Guide.jpg" alt="MBTI&reg; Step II User's Guide" width="120" height="155" /></td>
      <td valign="top"><p><strong>MBTI&reg; Step II User's Guide: Practitioner&rsquo;s Tool for Making the Most of Step II&trade; Interpretations</strong></p>
        <p>Description:<br />
          This new MBTI Step II resource offers practical insights into administering and interpreting the MBTI Form Q for maximum results. The 120-page guide provides useful facts, new perspectives on personality type and the Step II approach, and detailed practical advice that will enhance your work with clients.</p>
        <p><a href="https://www.cpp.com/en/mbtiitems.aspx?ic=6972" target="_blank">Buy now from CPP</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="21%" valign="top"><img src="images/pub-understandingStep2Results.jpg" width="120" height="155" alt="Understanding Your MBTI&reg; Step II Results" /></td>
      <td width="77%" valign="top"><p><strong>Understanding Your MBTI&reg; Step II Results</strong></p>
        <p>Description:<br />
          This 32-page booklet helps individuals gain more understanding of their MBTI Step II facet results and is a perfect supplement when presenting MBTI Step II Form Q results.</p>
        <p><a href="https://www.cpp.com/en/detailitem.aspx?ic=4178" target="_blank">Buy now from CPP</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-workingWithStep2Results.png" width="120" height="136" alt="Working with MBTI&reg; Step II Results" /></td>
      <td valign="top"><p><strong>Working with MBTI&reg; Step II Results</strong><br />
      </p>
        <p>Description:<br />
          This is an essential publication for anyone presenting Step II results to groups. It includes four training modules with Powerpoint slides, activities, scripts, and handouts. It will guide a trainer through presenting an introductory Step II workshop as well as more advanced applications in leadership development, team building and career management.</p>
        <p>(Out of print)</p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-facetSayings.png" width="110" height="145" alt="Facet Sayings and Songs" /></td>
      <td valign="top"><p><strong>Facet Sayings and Songs</strong><br />
      </p>
        <p>Description:<br />
          Another way to understand Step II results is presented in this handout with its unique and delightful style in illustrating the subtleties of the 20 MBTI Step II facets. Through literary quotations and musical song titles, you&rsquo;ll learn much about personality differences described by the MBTI Step II instrument.</p>
        <p><a href="pdf/sayingsandsongs.pdf" target="_blank">Download a sample</a> (pdf) <br />
          <a href="http://www.capt.org/catalog/MBTI-Book-20001.htm" target="_blank">Buy now from CAPT</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-step2ReportFormQ.jpg" width="120" height="155" alt="MBTI Step II Interpretive Report &mdash; Form Q" /></td>
      <td valign="top"><p><strong>MBTI Step II Interpretive Report &#8212; Form Q</strong></p>
        <p>Description:<br />
          The 18-page Step II Interpretive Report contains individualized results on the Step II facets as well as ways in which results can be applied to communication, decision-making, conflict and change management.</p>
        <p>Contact a certified MBTI professional to administer and interpret these reports.</p>
        <p><a href="https://www.cpp.com/en/detailprod.aspx?pc=50" target="_blank">Buy now from CPP</a></p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>

  </table>
  <h3>Careers</h3>
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td width="21%" valign="top"><img src="images/pub-newDirections.png" width="120" height="177" alt="New Directions in Career Planning and the Workplace: Practical Strategies for Career Management Professionals (second edition" /></td>
      <td width="77%" valign="top"><p><strong>New Directions in Career Planning and the Workplace: Practical Strategies for Career Management Professionals (second edition)</strong></p>
        <p>Description:<br />
          Named an <em>Outstanding Academic Title,</em> this publication is an invaluable career planning resource for any professionals in the career development area. It offers current thinking and practice from experts on topics such as work-life balance, values clarification, multicultural career counseling and using the MBTI&reg; instrument and the Strong Interest Inventory&reg; assessment together.</p>
        <p>(Out of print)</p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-strongCareerDevGuide.jpg" width="119" height="157" alt="Strong and MBTI&reg; Career Development Guide" /></td>
      <td valign="top"><p><strong>Strong and MBTI&reg; Career Development Guide</strong></p>
        <p>Description:<br />
          For those using the 1994 Strong, this guide provides research and strategies for combining it with the MBTI&reg; instrument. Reproducible masters are included to illustrate various combinations of the instruments.</p>
        <p>(Out of print)</p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-strongCareerDevWorkboook.jpg" width="120" height="156" alt="Strong and MBTI&reg; Career Development Workbook" /></td>
      <td valign="top"><p><strong>Strong and MBTI&reg; Career Development Workbook</strong></p>
        <p>Description:<br />
          This workbook for clients helps them combine the MBTI and the 1994 Strong inventories to identify career goals, to develop a career development plan and to understand the challenges in a job search.</p>
        <p>(Out of print)</p></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><img src="images/pub-MBTImanual.jpg" width="120" height="152" alt="MBTI Manual: A Guide to the Development and Use of the Myers-Briggs Type Indicator&reg; (3rd edition)" /></td>
      <td valign="top"><p><strong>MBTI Manual: A Guide to the Development and Use of the Myers-Briggs Type Indicator&reg; (3rd edition)</strong></p>
        <p>Description:<br />
          This Manual is essential for any practitioner using the MBTI Step I instrument. Both technical information and practical applications are included.<br />
        </p>
        <p>Dr. Kummerow wrote the chapter on &ldquo;Uses of Type in Career Counseling.&rdquo; </p>
        <p><a href="https://www.cpp.com/en/detailitem.aspx?ic=6111" target="_blank">Buy now from CPP</a></p></td>
    </tr>
  </table>
  <h3>Nutrition (with Fred A. Kummerow, Ph.D.)</h3>
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td width="21%" valign="top"><img src="images/pub-cholesterol-not-culprit.png" width="120" height="185" alt="Cholesterol is Not the Culprit: A Guide to Preventing Heart Disease" /></td>
      <td width="77%" valign="top"><p><strong><em>Cholesterol is Not the Culprit: A Guide to Preventing Heart Disease<br />
      </em>by Fred. A. Kummerow Ph.D. with Jean M. Kummerow Ph.D.</strong></p>
        <p>Description:<br />
           You will find a lot in this book related to diet and heart disease; it is the number one cause of death in the U.S. and throughout much of the world and also the focus of the majority of my career. To me, researching diet and heart disease is like being the detective in a good mystery book who follows clue after clue and finally comes up with an unexpected answer. The detective is always trying to find out who and what killed the person. Some detectives view cholesterol as the killer in heart disease, but I show you why that's not so. I hope in reading this book, you'll not only learn what is healthy to eat, but also why it is healthy to do so. How the body uses food to make what we need to keep going is an incredible, almost magical, process. We, as well as all animals and plants, are not programmed to live forever, but we can certainly increase the number of high quality years of life.<br />
           --Fred A. Kummerow
        </p>
        <p><a href="http://www.amazon.com/Cholesterol-Not-Culprit-Preventing-Disease/dp/0983383561/ref=tmm_pap_title_0?ie=UTF8&amp;qid=1400694351&amp;sr=1-1" target="_blank">Buy now from Amazon</a></p></td>
    </tr>
<!--  </table>-->

 <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>

<!--   <table width="100%" border="0" cellspacing="2" cellpadding="2">-->
    <tr>
      <td width="21%" valign="top"><img src="images/pub-cholesterol.png" width="120" height="150" alt="Cholesterol Won&rsquo;t Kill You but Trans Fat Could" /></td>
      <td width="77%" valign="top"><p><strong><em>Cholesterol Won&rsquo;t Kill You but Trans Fat Could<br />
      </em>by Fred. A. Kummerow with Jean M. Kummerow</strong></p>
        <p>Description:<br />
           This book identifies scientific facts and nutritional myths and provides research evidence as to why some myths should not be the cornerstone of nutritional advice. It explains how some food fictions arose, their basis in flawed and incomplete research studies and what's wrong with these studies by examining the basics-the basic biochemical processes in the body, how food fuels those processes, and how those processes fit together.</p>
        <p>(Out of print)</p></td>
    </tr>
  </table>
<!-- InstanceEndEditable --></div>

<div class="clearingdiv"></div>
</div>
</div>
<div id="footer" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
  <p>Direct any comments about this site  to <a href="mailto:webmaster@jeankummerow.com">webmaster@jeankummerow.com</a><br />
    Copyright &copy; 2009-14 Jean Kummerow &amp; Associates LLC. All Rights Reserved. <br />
  <span class="footerReg">Site design and maintenance by <a href="http://www.designrac.com" target="_blank">designrac</a></span></p>
  <p class="footerTM">Myers-Briggs Type Indicator, MBTI, and Introduction to Type are trademarks or registered trademarks of the Myers-Briggs Type Indicator Trust<br />
in the United States and other countries. Strong Interest Inventory and FIRO-B are registered trademarks and CPI is a trademark of CPP, Inc.</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-91629-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
<!-- InstanceEnd --></html>
