<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/templateMainJK.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Jean Kummerow &amp; Associates LLC: Team Building</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="Description" content="Jean Kummerow & Associates LLC provides team building, career counseling, coaching, training, team building, and expertise on all aspects of the Myers-Briggs Type Indicator." />
<meta name="Keywords" content="Jean Kummerow,Minnesota,MBTI, Myers-Briggs Type Indicator,MBTI Inventory,Coaching,Career Counseling,Training,Team Building,Publications" />
<meta name="author" content="Designrac Interactive / Original design: Designrac Interactive - http://www.designrac.com/" />
<link rel="stylesheet" href="mainStyles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="screen" />


<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	background: #77CEC2;
	background-image: url(images/interface/pageBackg.jpg);
	background-repeat: repeat-x;
}
-->
</style>

</head>

<body>

<div id="container"><img id="frontphoto" src="images/interface/banner-design.jpg" width="900" height="110" alt="" />

<div id="mainmenu">

<div style="background-image:url(center_tile.gif)"><table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td><div style="font-size:1px;width:6px;height:14px;background-image:url(left_cap.gif);"></div></td><td style="width:100%;">

  </td></tr></table>
</div>
</div>

<div id="wrap">

<div id="leftside"><br />
    <a class="leftnavPink" href="index.html">Home</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="publications.html">Publications</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="MBTI.html">MBTI&reg; Inventory</a><span class="hide"> | </span>
    <!-- Remove below -->
    <!-- <a class="leftnavViolet" href="career.html">Career Counseling</a><span class="hide"> | </span> -->
    <a class="leftnavViolet" href="coaching.html">Coaching</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="training.html">Training</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="team.html">Team Building</a><span class="hide"> | </span>
    <a class="leftnavPink" href="who.html">Who We Are</a><span class="hide"> | </span>
    <a class="leftnavPink" href="contact.html">Contact Us</a><span class="hide"> | </span>
    </div>


<div id="content">
<!-- InstanceBeginEditable name="contentArea" -->
  <h2>Team Building</h2>
  <p></font>Build stronger teamwork so that you can take advantage of different approaches to devise better solutions and lessen the annoyance toward colleagues who do not do things &ldquo;your way.&rdquo;</p>
  <p>An effective team includes individuals working in a cooperative manner to accomplish goals they could not attain if working on their own. Teams may need help with identifying and valuing individual members&rsquo; contributions and on how to work through individual differences. Dr. Kummerow&rsquo;s approach often includes using the MBTI&reg; Step II tool to help the team:<br />
  </p>
  <ul>
    <li>Identify team members&rsquo; styles and strengths  </li>
    <li>Improve communication</li>
    <li>Build decision-making skills</li>
    <li>Resolve conflicts</li>
    <li>Solicit feedback from others on areas to improve</li>
    <li>Anticipate and manage change</li>
    <li>Manage stress</li>
    <li>Set goals</li>
  </ul>
  <p>Follow-up services are available.<br />
    </font></p>
<!-- InstanceEndEditable --></div>

<div class="clearingdiv"></div>
</div>
</div>
<div id="footer">
  <p>Direct any comments about this site  to <a href="mailto:webmaster@jeankummerow.com">webmaster@jeankummerow.com</a><br />
    Copyright &copy; 2009-14 Jean Kummerow &amp; Associates LLC. All Rights Reserved. <br />
  <span class="footerReg">Site design and maintenance by <a href="http://www.designrac.com" target="_blank">designrac</a></span></p>
  <p class="footerTM">Myers-Briggs Type Indicator, MBTI, and Introduction to Type are trademarks or registered trademarks of the Myers-Briggs Type Indicator Trust<br />
in the United States and other countries. Strong Interest Inventory and FIRO-B are registered trademarks and CPI is a trademark of CPP, Inc.</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-91629-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
<!-- InstanceEnd --></html>
