<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/templateMainJK.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Jean Kummerow &amp; Associates LLC: Training</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="Description" content="Jean Kummerow & Associates LLC provides team building, career counseling, coaching, training, team building, and expertise on all aspects of the Myers-Briggs Type Indicator." />
<meta name="Keywords" content="Jean Kummerow,Minnesota,MBTI, Myers-Briggs Type Indicator,MBTI Inventory,Coaching,Career Counseling,Training,Team Building,Publications" />
<meta name="author" content="Designrac Interactive / Original design: Designrac Interactive - http://www.designrac.com/" />
<link rel="stylesheet" href="mainStyles.css" type="text/css" media="screen" />


<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	background: #77CEC2;
	background-image: url(images/interface/pageBackg.jpg);
	background-repeat: repeat-x;
}
-->
</style>

</head>

<body>

<div id="container"><img id="frontphoto" src="images/interface/banner-design.jpg" width="900" height="110" alt="" />

<div id="mainmenu">

<div style="background-image:url(center_tile.gif)"><table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td><div style="font-size:1px;width:6px;height:14px;background-image:url(left_cap.gif);"></div></td><td style="width:100%;">

  </td></tr></table>
</div>
</div>

<div id="wrap">

<div id="leftside"><br />
    <a class="leftnavPink" href="index.html">Home</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="publications.html">Publications</a><span class="hide"> | </span>
    <a class="leftnavGreen" href="MBTI.html">MBTI&reg; Inventory</a><span class="hide"> | </span>
    <!-- Remove below -->
    <!-- <a class="leftnavViolet" href="career.html">Career Counseling</a><span class="hide"> | </span> -->
    <a class="leftnavViolet" href="coaching.html">Coaching</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="training.html">Training</a><span class="hide"> | </span>
    <a class="leftnavBlue" href="team.html">Team Building</a><span class="hide"> | </span>
    <a class="leftnavPink" href="who.html">Who We Are</a><span class="hide"> | </span>
    <a class="leftnavPink" href="contact.html">Contact Us</a><span class="hide"> | </span>
    </div>


<div id="content">
<!-- InstanceBeginEditable name="contentArea" -->
  <h2>Customized Training Opportunities</h2>
  <p></font>Learn applications of the MBTI&reg; and Strong Interest Inventory&reg; instruments in &ldquo;train the trainer&rdquo; courses from an acclaimed trainer, Dr. Jean Kummerow.</p>
  <ul>
    <li>Career counseling</li>
    <li>Team development</li>
    <li>Communications</li>
    <li>Conflict management</li>
    <li>Decision-making</li>
    <li>Leadership/management development</li>
    <li>Type Dynamics and Development</li>
    <li>Stress management</li>
  </ul>
<p>Feedback from clients indicates she is valued for her clarity in explaining concepts, her practical focus and her sense of humor.</p>
<h3>Public Training Opportunities</h3>
<p>November 25th, 2016</p>
<p>Coaching Using MBTI® personality type to achieve the Crucial Cs, masterclass by Jean Kummerow</p>
<p>The Crucial Cs Model of Adler's Core Needs posits that everyone needs to Connect, feel Capable, Count, and have Courage. Using the concepts of the Myers-Briggs Type Indicator assessment, coaches can find pathways to achieve these.  Participants must know their MBTI Type and the basic preference definitions to participate.</p>
<p><a href="http://type-association.org/coaching-using-mbti%C2%AE-personality-type-achieve-crucial-cs-masterclass-jean-kummerow"</a>Check out Type Association Benelux for more information adn registration.</p>
<p>She has conducted numerous programs related to the above topics throughout the USA and in Canada, England, Ireland, Belgium, Denmark, The Netherlands, Sweden, China, Hong Kong, Japan, India, Singapore, Australia, New Zealand, Argentina and Brazil.</p>
<!-- InstanceEndEditable --></div>

<div class="clearingdiv"></div>
</div>
</div>
<div id="footer">
  <p>Direct any comments about this site  to <a href="mailto:webmaster@jeankummerow.com">webmaster@jeankummerow.com</a><br />
    Copyright &copy; 2009-14 Jean Kummerow &amp; Associates LLC. All Rights Reserved. <br />
  <span class="footerReg">Site design and maintenance by <a href="http://www.designrac.com" target="_blank">designrac</a></span></p>
  <p class="footerTM">Myers-Briggs Type Indicator, MBTI, and Introduction to Type are trademarks or registered trademarks of the Myers-Briggs Type Indicator Trust<br />
in the United States and other countries. Strong Interest Inventory and FIRO-B are registered trademarks and CPI is a trademark of CPP, Inc.</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-91629-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
<!-- InstanceEnd --></html>
